singularity_containers
required_extra_data/brass/all_ncbi_bacteria.1.fa.2bit
required_extra_data/brass/all_ncbi_bacteria.2.fa.2bit
required_extra_data/brass/all_ncbi_bacteria.3.fa.2bit
required_extra_data/brass/all_ncbi_bacteria.4.fa.2bit
required_extra_data/muse/37/dbSNP.gz
required_extra_data/muse/37/dbSNP.gz.tbi
required_extra_data/cgpcavemanwrapper/unmatched/unmatchedNormal.bed.gz
required_extra_data/cgpcavemanwrapper/unmatched/unmatchedNormal.bed.gz.tbi
required_extra_data/gridss2/37/repeats.fa.out.gz
required_extra_data/cgppindel/codingexon_regions.indel.bed.gz
required_extra_data/cgppindel/codingexon_regions.indel.bed.gz.tbi
required_extra_data/cgppindel/genomicRules.lst
required_extra_data/cgppindel/hiSeqDepth.bed.gz
required_extra_data/cgppindel/hiSeqDepth.bed.gz.tbi
required_extra_data/cgppindel/pindel_np.gff3.gz
required_extra_data/cgppindel/pindel_np.gff3.gz.tbi
required_extra_data/cgppindel/simpleRepeats.bed.gz
required_extra_data/cgppindel/simpleRepeats.bed.gz.tbi
required_extra_data/cgppindel/softRules.lst
required_extra_data/cgpcavemanwrapper/flagging/centromeric_repeats.bed.gz
required_extra_data/cgpcavemanwrapper/flagging/centromeric_repeats.bed.gz.tbi
required_extra_data/cgpcavemanwrapper/flagging/hi_seq_depth.bed.gz
required_extra_data/cgpcavemanwrapper/flagging/hi_seq_depth.bed.gz.tbi
required_extra_data/cgpcavemanwrapper/flagging/simple_repeats.bed.gz
required_extra_data/cgpcavemanwrapper/flagging/simple_repeats.bed.gz.tbi
required_extra_data/cgpcavemanwrapper/flagging/snps.bed.gz
required_extra_data/cgpcavemanwrapper/flagging/snps.bed.gz.tbi
required_extra_data/cgpcavemanwrapper/flag.to.vcf.convert.ini
required_extra_data/sage/ensembl_data_cache/ensembl_gene_data.csv
required_extra_data/sage/ensembl_data_cache/ensembl_protein_features.csv
required_extra_data/sage/ensembl_data_cache/ensembl_trans_exon_data.csv
required_extra_data/sage/ensembl_data_cache/ensembl_trans_splice_data.csv